{{ define "main" }}
  <div class="not-found">
    <h1>404!</h1>
    <p>Oops! That page is under construction

    (or it doesn’t exist). Blame the intern! </p>
    

<!-- Image -->
    <img src="/404.jpg" 
         alt="Under Construction" 
         style="max-width:400px; width:100%; margin:1rem auto; display:block;">

<audio autoplay loop controls style="display:block; margin:1rem auto;">
      <source src="/404.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
{{ end }}
