body {
	font-family: monospace ;
	font-size: 200%;
    background-image: 
        linear-gradient(to right, transparent 10%, #2B2B2B 10%, #2B2B2B 90%, transparent 90%),
        url('background.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    margin: 0;
	color: #ccc ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if needed) */
    gap: 20px; /* Adjust spacing as needed */
}

.grid-item {
    flex: 1 1 calc(33% - 20px); /* 3 items per row with spacing */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;  /* Center text */
}

.grid-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height:85px;
    object-fit: contain;
}

.grid-item button {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height:85px;
    object-fit: contain;
    align-items: center; /* Center items horizontally */
    text-align: center;  /* Center text */

}
.grid-item p {
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    color: #ffffff;
}


a {
    color: #ff0000; /* Change this to your desired color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Optional: add underline on hover */
}

.button:hover {
    filter: brightness(70%); /* Darken the button on hover */
}

.navbar {
    background-color: #333; /* Navbar background color */
    padding: 0px 25px; 
}

.navbar .container {
    display: flex;
    justify-content: space-between; /* Space between brand and menu */
    align-items: center; /* Center items vertically */
}

.navbar-brand {
    color: #cd0000; /* Brand text color */
    text-decoration: none; /* Remove underline */
    font-size: 24px; /* Brand text size */
}

.navbar-menu {
    list-style: none; /* Remove default list style */
    display: flex; /* Horizontal layout */
    gap: 15px; /* Space between menu items */
}

.navbar-menu li a {
    color: #cd0000; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 10px 10px; /* Spacing around links */
}

.navbar-menu li a:hover {
    background-color: #555; /* Background on hover */
}
